body {
    background: linear-gradient(to right, #abe6ff);
    font-family: Arial;
    color: #e0e0e0;
}

.login-box {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #9e9e9e;
}

p {
    color: #cccccc;
}

.form-control {
    background: #1c1c1c;
    border: 1px solid #444;
    color: white;
}

.form-control:focus {
    background: #1c1c1c;
    color: white;
    border-color: #0dcaf0;
    box-shadow: none;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
}

.btn-primary {
    background-color: #0d47a1;
    border: none;
}

.instructions {
    display: none;
    color: #bbb;
}
